.white_square {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #fff;
    margin: -2px;
}
.black_square {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #000;
    margin: -2px;
}
.main_border {
    padding: 10px;
    display: inline-block;
    border: 7px solid #000;
}
.letters_1 {
    font-weight: 900;
    display: inline-block;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
    margin-bottom: 5px;
}
.letters_2 {
    font-weight: 900;
    display: inline-block;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 5px;
}
.numbers {
    font-weight: 900;
    display: inline-block;
    height: 100px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 7px;
    margin-top: -100px;
    margin-bottom: -75px;
}
.top_border {
    border-top: 3px solid #000;
}
.left_border {
    border-left: 3px solid #000;
}
.right_border {
    border-right: 3px solid #000;
}
.bottom_border {
    border-bottom: 3px solid #000;
}
.free_space {
    font-weight: 900;
    display: inline-block;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-right: 26px;
}